@import url(../../../reset.scss);

.scroll-top {
    height: 43px;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 50%;    
    border: 1px solid var(--bg-color);
    background-color: var(--subtitle-color);
    z-index: 999;

    &:hover { background-color: var(--red-color); }
}

.arrow{
  font-size: 40px;
  color: var(--bg-color);  
  
  &:hover{ color: var(--body-color); }
}