@import url(../../../reset.scss);

.scroll-top {
    height: 63px;
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: flex;
    align-items: center;
    border-radius: 25px;    
    border: 2px solid var(--body-color);
    z-index: 999;
}

.arrow{
  font-size: 40px;
  color: var(--subtitle-color);
  
  &:hover{ color: var(--red-color); }
}